Makefile.config
src/config/my_config.ml
src/ocaml/typer
src/sturgeon
emacs/merlin.elc
*.tar.gz
*.pyc
*.o
*.cm?
*.cm??
ocamlmerlin
ocamlmerlin.exe
ocamlmerlin-server
ocamlmerlin-server.exe
config.iss
._d
._ncdi

# Ignore garbage files from editors
*.un~
