Makefile.config
src/config/my_config.ml
src/ocaml
emacs/merlin.elc
*.tar.gz
*.pyc
*.o
*.cm?
*.cm??
ocamlmerlin
._d
._ncdi

# Ignore any stale ocamlbuild stuff
_tags
_build/
src/config/myocamlbuild_config.ml
ocamlmerlin.native
