version=0.24.1
break-cases=fit-or-vertical
break-struct=natural
doc-comments=before
doc-comments-tag-only=fit
dock-collection-brackets=false
# Preserve beign/end
exp-grouping=preserve
if-then-else=fit-or-vertical
module-item-spacing=preserve
parse-docstrings
space-around-lists=false
space-around-records=false
space-around-variants=false

