.main-content {

  &.large {
    width: 90%;
    max-width: 75rem;
    padding: 2rem 0rem;
  }
}

.center
{
    margin: 0 auto;
    display: block;
}

.hero {
  text-align: center;
  font-size: 2.5rem;
}

.hero-subtitle {
  font-size: 1.2rem;
  font-style: italic;
}

.logo {
  width: 8rem;
  display: inline-block;
}

.page-header {
  padding: 3rem 6rem 3rem 6rem;
}

.btn {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 0rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

main .btn {
  color: $header-bg-color;
  background-color: rgba($header-bg-color, 0.08);
  border-color: rgba($header-bg-color, 0.2);


  &:hover {
    color: rgba($header-bg-color, 0.8);
    background-color: rgba($header-bg-color, 0.2);
    border-color: rgba($header-bg-color, 0.3);
  }
}

.left-menu {
  @media only screen and (min-width: $breakpoint-med) {
    position: sticky;
    top: 2rem;
  }

  ul {
    list-style-type: none;

    li {

      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      a {
        display: block;
        padding: 0.5rem;
        color: $header-bg-color;
        background-color: rgba($header-bg-color, 0.01);
        border-color: rgba($header-bg-color, 0.5);

        border-style: solid;
        border-width: 1px;

        border-radius: 0.5rem;
      }
    }
  }

}
