# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - '**.txt'
      - '.git*'
      - 'doc/**'
      - 'emacs/**'
      - 'vim/**'
      - '**/emacs-lint.yml'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - '**.txt'
      - '.git*'
      - 'doc/**'
      - 'emacs/**'
      - 'vim/**'
      - '**/emacs-lint.yml'
  schedule:
    - cron: '0 12 */6 * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        ocaml-compiler:
          - 5.2.x
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    # Some tests requiring specific ppxes are disabled by default
    env:
      MERLIN_TESTS: all

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout tree
        uses: actions/checkout@v4

      - name: Set-up OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: Install dependencies
        run: |
          opam pin menhirLib 20201216 --no-action
          opam install --yes ppx_string ppx_compare
          opam install . --deps-only --with-test --yes

      - name: Build and test in release mode (windows)
        if: matrix.os == 'windows-latest'
        run: |
          opam exec -- dune runtest -p merlin-lib,dot-merlin-reader,ocaml-index,merlin

      - name: Build and test in release mode (macos/linux)
        if: matrix.os != 'windows-latest'
        run: |
          opam install . --with-test --yes

      - name: Build in dev mode to check parser changes
        if: matrix.os == 'ubuntu-latest'
        run: |
          opam exec -- dune clean
          opam exec -- dune build
          git diff --exit-code


      - name: Check that the changes are correctly formatted
        if: matrix.os == 'ubuntu-latest'
        run: |
          opam install ocamlformat.0.26.2
          opam exec -- dune build @fmt
